*{
	margin : 0px;
	padding : 0px;
	font-family : Verdana, Arial;
}

body{
	margin : 0px;
	padding : 0px;
	overflow: hidden;	
	font-size : 18px;
	color : #DADADA;
}

#reflectCanvas{
	margin : 0px;
	padding : 0px;
	
}

#backBar{
	width : 400px;
	height : 30px;
	margin : 0 auto;	
	background: url(img/menu/backbar.png) no-repeat scroll top left transparent;
	}
	
#bar{
	width : 0px;
	height : 30px;
	background: url(img/menu/bar.png) no-repeat scroll top left transparent;
	
}


#preloader{
	position : absolute;
	padding-top : 130px;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	border : 0px solid;
	text-align: center;
}

#loading{
	margin-left : auto;
	margin-right : auto;
	margin-top : 40px;
	width : 400px;
	font-size: 21px;
}

.scene{
	display : none;
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	font-size: 30px;
}

.gamePanel{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	position : absolute;
		
	pointer-events:none;	
}

.activeGamePanel{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	position : absolute;	
}

#lifePanel{
	display : none;
	top : 0px;	
	left : 0px;
	width : 200px;
	height : 25px;
	font-size: 23px;
}

#bonusPanel{
	display : none;
	width : 100px;
	height : 500px;
	top : 50px;
	left : 0px;	
}

#pointsPanel{
	display : none;
	font-size : 23px;
	width : 150;
	height : 20;
	top : 0px;
	left : 100%;
	margin-left : -250px;
}

#infinityBonusPanel{
	display : none;
	position : absolute;
	font-size : 23px;
	
	width : 120px;
	
	top : 50px;
	left : 100%;
	margin-left: -120px;
	
	
}

.bonusPanelImg{
	height : 40px;
}


#writeNamePanel{
	
	background-color:#555555;
	position : absolute;
	top : 50%;
	left : 50%;
	
	margin-left : -200px;
	margin-top : -100px;
		
	width : 400px;
	height : 200px;
	
	
	background: url(img/menu/menu_2.png) no-repeat scroll top left transparent;
	display:none;
}

#gameover{
	font-size: 30px;
	text-align: center;
	margin-top : 15px;
	color : #CC9000;
		
}

#goscore{
	font-size: 20px;	
	margin-left:40px;
}

#divWithPlace{
	font-size: 20px;	
	margin-left:40px;	
}

#goName{
	font-size: 20px;	
	margin-left:40px;	
}

#goButtons{
	position:absolute;
	top : 100%;
	margin-top : -70px;
	margin-left : 35px;
	
}

#playerName{
	color : white;
	font-size : 20px;
	
}

.goButton{
	width : 150px;
	height : 70px;
}

#sendRecordButton{
	float : right;
	background: url('img/menu/okoff.png') no-repeat scroll top left transparent;
	width : 170px;
	height : 70px;
}
#sendRecordButton:hover{
	background: url('img/menu/okon.png') no-repeat scroll top left transparent;
}

#cancelRecordButton{
	float : right;
	background: url('img/menu/canceloff.png') no-repeat scroll top left transparent;
	width : 170px;
	height : 70px;
}
#cancelRecordButton:hover{
	background: url('img/menu/cancelon.png') no-repeat scroll top left transparent;
}

#playerName{
	background: url(img/menu/input.png) no-repeat scroll top left transparent;
	border : 0px;
	width : 200px;
	height : 30px;
	padding-left : 10px;
	outline: none;	
}

#lifePicture{
	width : 70px;
}

#infBonusImage{
	
}

#volumePanel{	
	cursor : pointer;
	left : 100%;
	width : 60px;
	height : 30px;
	top : 0px;
	margin-left:-60px;	
	overflow:hidden;
}
#volumePanel:hover{
	height : 130px;
	
}

#sound_div{
	float : left;
	width : 30px;
	height : 30px;	
	background-size: 30px 30px;					
}

#music_div{
	float : left;
	width : 30px;
	height : 30px;	
	background-size: 30px 30px;
}

.volume_img{
	margin-top : 3px;
	position : absolute;
	top : 0px;
	left : 0px;
}
#music_div{
	position : absolute;
	top : 0px;
	left : 30px;
}
#volume_slider_div{
	position : absolute;
	width : 40px;
	height : 100px;
	padding-top:7px;	
	top : 30px;
	left : 20px;
	
}

#volume_slider{
	height : 80px;
	
}

.center_content{
	position : absolute;
	top : 18%;
	left : 50%;
	width : 500px;
	height : 64%;
	margin-left : -220px;	
}

#info_center_content{
	overflow: auto;
}

table.menu_table{
	font-size: 14px;
	color : #DADADA;
	padding-right : 10px;
	width : 474px;
}

table.menu_table tr{
	height : 60px;
	margin : 10px;	
}

table.menu_table tr td{
	padding-left : 10px;
	padding-right : 10px;
}

table.menu_table tr td:nth-child(1){
	text-align: center;
	width : 80px;
}

table.menu_table tr td:nth-child(2){
		
}

table.menu_table tr:nth-child(2n+1){
	background-color: rgba(0,0,0,0.4)
	
}

table.menu_table tr:nth-child(2n){
	background-color: rgba(0,0,0,0.2)
}


table.menu_table tr td:nth-child(1) img{
	height : 43px;
}

h2{
	font-size : 26px;
	margin : 20px;
}

#credits_center_content{
	overflow: auto;
}

#credits_game_name{
	font-size : 56px;
	margin : 20px;
	text-align: center;
		
}

.item_header{
	width : 100%;
	height : 63px;
	padding-left : auto;
	margin-top : 20px;
	text-align: center;
}

#credits_content{
	font-size : 15px;
	line-height : 23px;
}

.some_part{
	width : 100%;
	font-size : 21px;
	text-align : center;
	color : #CD9C29;
	margin-top : 0px;
}

.inner_content_with_scroll{
	overflow: auto;
	height : 100%;
	padding-bottom : 19%;
}

.some_part a{
	color : #CD9C29;
}

#records_center_content{
	overflow: auto;
}

table.menu_table_top10{
	width : 350px;
	margin-left : 70px;
}

table.menu_table_top10 tr{
	height : 24px;
}

table.menu_table_top10 tr td:nth-child(1){
	width : 60%;
}

table.menu_table_top10 tr td:nth-child(2){
	width : 40%;
	text-align: center;
}

#fps_div{
	width : 100px;
	height : 9px;
	top : 100%;
	left : 0px;
	margin-top:-9px;
	font-size : 8px; 
}
